@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.btn {
    width: 293px;
    margin: 54px auto 0 auto;
    font-size: 17.5px;
    font-weight: 600;
    line-height: 1.54;
    a {
        color: #ffffff;
        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    } 
}

.divider {
    width: 87px;
    height: 4px;
    opacity: .15;
    background-color: #000000;
    margin: 21px auto 0 auto;
}

@import 'blocks/header';
@import 'blocks/home';
@import 'blocks/about';

@import 'blocks/media';
