@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background: #bdd1df;
    }
}