@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__logo {
            padding-left: 100px;
        }
        &__list {
            padding-right: 80px;
        }
    }
    .home {
        &__text {
            font-size: 39px;
        }
    }
    .about {
        &__items {
            padding: 83px 18px 0 18px;
            gap: 41px
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        &__logo {
            padding-left: 0;
        }
        &__list {
            padding-right: 0;
        }
    }
    .home {
        &__text {
            font-size: 29px;
        }
    }
    .about {
        &__items {
            grid-template-columns: repeat(3, 200px);
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        &__list {
            display: none;
        }
    }
    .home {
        &__text {
            padding-top: 90px;
            font-size: 22px;
        }
    }
    .about {
        padding-top: 90px;
        padding-bottom: 110px;
        &__title {
            font-size: 36px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__items {
            padding: 83px 0 0 0;
            grid-template-columns: repeat(2, 250px);
            gap: 40px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .home {
        padding-top: 60px;
        padding-bottom: 60px;
        &__text {
            font-size: 24px;
        }
    }
    .btn {
        width: 250px;
        font-size: 15px;
    }
    .about {
        padding-top: 60px;
        padding-bottom: 60px;
        &__title {
            line-height: 1;
        }
        &__items {
            padding-top: 60px;
            grid-template-columns: 1fr;
        }
    }
}